<h1>Volunteer Tracker</h1>

<h3>Projects</h3>

<% if @projects.any? %>
<table style="width:100%">
    <tr>
        <th>Project Name</th>

    </tr>
    <% @projects.each do |project| %>
    <tr>
        <td><a href="/projects/<%= project.id %>"><%= project.name %></a></td>
        <td><a href="/projects/<%= project.id %>"><%= project.artist %></a></td>
        <td>
        </td>
    </tr>
    <% end %>
</table>
<% else %>
<p>There are currently no Projectss to display.</p>
<% end %>

<a href="/projects/new">Add a new project</a>
